.ca-container-filters {
  display: flex;
}

.ca-container-search-input {
  width: 35%;
  box-shadow: 0 5px 15px var(--ca-box-shadow);
  display: flex;
  align-items: center;
}

.ca-container-icon {
  width: 2rem;
  margin-left: 3rem;
  opacity: 0.6;

  svg {
    path {
      stroke: var(--ca-text-color);
    }
  }
}

.ca-search-input {
  font-size: 1.4rem;
  opacity: 0.7;
  letter-spacing: 0.5px;
  font-family: inherit;
  font-weight: 600;
  border: none;
  padding: 1.6rem 2rem;
  width: 100%;
  background-color: var(--ca-background-input);
  color: var(--ca-text-color);
}

.ca-search-input::placeholder {
  color: var(--ca-text-color);
}

.ca-search-input:focus {
  outline: var(--ca-very-dark-blue-light) solid 2px;
}

.ca-container-filters-selector {
  margin-left: auto;

  select {
    border: none;
    box-shadow: 0 5px 15px #959DA533;
    padding: 1rem 2rem;
    font-family: inherit;
    font-weight: 600;
    border-radius: 1rem;
    position: relative;
    max-width: 35rem;

    option {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 50em) {
  .ca-container-search-input {
    width: 45%;
  }
}

@media (max-width: 36em) {
  .ca-container-search-input {
    width: 100%;
  }

  .ca-container-filters{
    flex-direction: column;
    gap: 1.6rem;
  }

  .ca-container-filters-selector{
    width: 70%;
    margin-left: initial;
  }
}

