.ca-container-filters {
  display: flex;
}

.ca-container-search-input {
  width: 35%;
  box-shadow: 0 5px 15px var(--ca-box-shadow);
  display: flex;
  align-items: center;
}

.ca-container-icon {
  width: 2rem;
  margin-left: 3rem;
  opacity: 0.6;

  svg {
    path {
      stroke: var(--ca-text-color);
    }
  }
}

.ca-search-input {
  font-size: 1.4rem;
  opacity: 0.7;
  letter-spacing: 0.5px;
  font-family: inherit;
  font-weight: 600;
  border: none;
  padding: 1.6rem 2rem;
  width: 100%;
  background-color: var(--ca-background-input);
  color: var(--ca-text-color);
}

.ca-search-input::placeholder {
  color: var(--ca-text-color);
}

.ca-search-input:focus {
  outline: var(--ca-very-dark-blue-light) solid 2px;
}

.ca-container-filters-selector {
  border: none;
  //box-shadow: 0 5px 15px #959DA533;
  margin-left: auto;
  padding: 1rem 2rem;
  font-family: inherit;
  font-weight: 600;
  border-radius: 1rem;
  position: relative;
  max-width: 35rem;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  //background-color: #ddd;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: '';
  display: inline-block;
  float: right;
  width: .5rem;
  height: .5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

ul {
  width: 100%;
  //background: #ddd;
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

.ca-filter-radios {
  box-shadow: 0 5px 15px #959DA533;
  display: flex;
  gap: 1.2rem;

  input {
    font-size: 1.4rem;
  }

  //counter-reset: radios;
}

.ca-filter-radios:before {
  //content: var(--selection);
}

input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type=radio]:checked {
  display: inline;
  --display: block;
}

input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  font-size: 1.4rem;
  counter-reset: labels;
  box-shadow: 0 5px 15px #959da5;

}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}
