<div class="ca-container ca-mb-4 ca-container-filters">
  <div class="ca-container-search-input">
    <div class="ca-container-icon">
      <svg width="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 15L21 21" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path
          d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
          stroke="#323232" stroke-width="2"/>
      </svg>
    </div>
    <input class="ca-search-input"
           type="text"
           placeholder="Search for a country..."
           (keyup.enter)="countryFilter()"
           [(ngModel)]="countryText">
  </div>

  <div class="ca-container-filters-selector">
    <select class="ca-search-input" id="filterByColor" #filterSelector>
      <option class="ca-option-filter" value="" selected>Filter by Region</option>
      <option (click)="clickFilter()" value="africa">Africa</option>
      <option (click)="clickFilter()" value="america">America</option>
      <option (click)="clickFilter()" value="asia">Asia</option>
      <option (click)="clickFilter()" value="Europe">Europe</option>
      <option (click)="clickFilter()" value="Oceania">Oceania</option>
    </select>
  </div>
</div>
