<main class="ca-main-countries">
  <div class="ca-container ca-grid ca-grid--4-cols ca-grid-col-gap-6">
    <div class="ca-container-sort-country">
      <div>
        <img src="https://flagcdn.com/ax.svg" alt="" style="width: 100%">
      </div>
      <div class="ca-container-details-country">
        <p class="ca-title-country">Germany</p>
        <p class="ca-text-details-country">
          <span>Population:</span>
          81.000.000
        </p>
        <p class="ca-text-details-country">
          <span>Region:</span>
          europe
        </p>

        <p class="ca-text-details-country">
          <span>Capital:</span>
          Berlin
        </p>
      </div>
    </div>

    <div>
      <div>
        <img src="https://flagcdn.com/ax.svg" alt="" style="width: 100%">
      </div>
      <p>Germany</p>
    </div>

    <div>
      <div>
        <img src="https://flagcdn.com/ax.svg" alt="" style="width: 100%">
      </div>
      <p>Germany</p>
    </div>

    <div>
      <div>
        <img src="https://flagcdn.com/ax.svg" alt="" style="width: 100%">
      </div>
      <p>Germany</p>
    </div>
  </div>
</main>
