.ca-main-nav-link:link,
.ca-main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--ca-text-color);
}

.ca-input-dark-mode {
  width: 0;
  height: 0;
  visibility: hidden;
}

.ca-input-dark-mode:checked + .ca-label-dark-mode {
  background: var(--ca-bg-color);
}

.ca-input-dark-mode:not(:checked) + .ca-label-dark-mode:after {
  left: 0.5rem;

}

.ca-input-dark-mode:checked + .ca-label-dark-mode:after {
  left: 100%;
  transform: translate(calc(-100% - 0.5rem), 0);
  background: linear-gradient(180deg, var(--ca-bg-color), var(--ca-box-shadow));
}

.ca-label-dark-mode, .ca-label-dark-mode:after {
  transition: all 0.3s;
}

.ca-label-dark-mode {
  width: 10rem;
  height: 4rem;
  position: relative;
  display: block;
  background-color: var(--ca-bg-color);
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 5px 15px #959DA533;

}

.ca-label-dark-mode:after {
  content: '';
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 0.2rem;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0 0.5rem 10rem rgba(0, 0, 0, 0.2);
}

.ca-label-dark-mode:active:after {
  width: 3.5rem;
}

.ca-label-dark-mode svg {
  position: absolute;
  width: 3rem;
  top: 0;
  z-index: 100;
}

.ca-label-dark-mode svg.sun {
  left: 0.8rem;
  top: 0.5rem;
  transition: 0.3s;

  path {
    fill: #fff;
  }
}

.ca-label-dark-mode svg.moon {
  right: 0.7rem;
  top: 0.3rem;
  transition: 0.3s;

  path {
    stroke: #7e7e7e;
  }
}

.ca-input-dark-mode:checked + .ca-label-dark-mode svg.sun {
  path {
    fill: #7e7e7e;
  }
}

.ca-input-dark-mode:checked + .ca-label-dark-mode svg.moon {
  path {
    fill: #fff;
  }
}
