.ca-country-page-image {
  width: 100%;
  box-shadow: 0 5px 15px var(--ca-box-shadow);
}

.ca-loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
}

.ca-country-page-country-title {
  font-size: 4.4rem;
  font-weight: 700;
}

.ca-country-page-details-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  li {
    font-size: 1.6rem;

    span:first-child {
      font-weight: 600;
    }
  }
}

.ca-country-page-border-countries {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.ca-country-page-border-countries-text {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  align-self: center;
}
