.ca-container-sort-country {
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--ca-box-shadow);
  max-width: 21.5rem;
  max-height: 30rem;
  cursor: pointer;
}

.ca-img-country {
  width: 100%;
  height: 16rem;
  object-fit: cover
}

.ca-container-details-country {
  padding: 1.6rem 1.6rem 3.2rem 1.6rem;
}

.ca-title-country {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  letter-spacing: -0.5px;
}

.ca-text-details-country {
  font-size: 1.2rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  span {
    font-weight: bold;
  }
}
