$bgColor_light: #FFFFFFFF;
$text_color_light: #111517FF;
$box_shadow_light: #959DA533;
$background_input_light: #FFFFFFFF;

$bgColor_dark: #202C37FF;
$text_color_dark: #FFFFFFFF;
$box_shadow_dark: #111517FF;
$background_input_dark: #202C37FF;

body{
  transition: all 0.2s;
}

body.dark {
  --ca-bg-color: #{$bgColor_dark};
  --ca-text-color: #{$text_color_dark};
  --ca-box-shadow: #{$box_shadow_dark};
  --ca-background-input: #{$background_input_dark};
}

body.light {
  --ca-bg-color: #{$bgColor_light};
  --ca-text-color: #{$text_color_light};
  --ca-box-shadow: #{$box_shadow_light};
  --ca-background-input: #{$background_input_light};
}
